In [27]:
import mysql.connector

connection = mysql.connector.connect(host='MySQLC11.newtekwebhosting.com',
                              user='student',
                              password='webuc8',
                              database='baseball')

query = '''SELECT nameFirst, nameLast, weight, year(debut)
FROM Master
ORDER BY weight DESC
LIMIT 5'''

cursor = connection.cursor() #pass dictionary=True to return records as dicts
cursor.execute(query)
results = cursor.fetchall()
cursor.close()
connection.close()

results

[('Walter', 'Young', 320, 2005),
 ('Jumbo', 'Diaz', 315, 2014),
 ('Dmitri', 'Young', 295, 1996),
 ('Jonathan', 'Broxton', 295, 2005),
 ('Jumbo', 'Brown', 295, 1925)]

In [28]:
for record in results:
    print('{} {} weighed {} pounds when he started his MLB career in {}.'.format(record[0],record[1],record[2],record[3]))

Walter Young weighed 320 pounds when he started his MLB career in 2005.
Jumbo Diaz weighed 315 pounds when he started his MLB career in 2014.
Dmitri Young weighed 295 pounds when he started his MLB career in 1996.
Jonathan Broxton weighed 295 pounds when he started his MLB career in 2005.
Jumbo Brown weighed 295 pounds when he started his MLB career in 1925.

In [2]:
import pymysql
connection = pymysql.connect(host='MySQLC11.newtekwebhosting.com',
                             user='student',
                             password='webuc8',
                             database='baseball'
                            )
                        #cursorclass=pymysql.cursors.DictCursor
query = '''SELECT nameFirst, nameLast, weight, year(debut)
FROM Master
ORDER BY weight DESC
LIMIT 5'''
    
with connection.cursor() as cursor:
    cursor.execute(query)
    results = cursor.fetchall()
connection.close()

results

(('Walter', 'Young', 320, 2005),
 ('Jumbo', 'Diaz', 315, 2014),
 ('Dmitri', 'Young', 295, 1996),
 ('Jonathan', 'Broxton', 295, 2005),
 ('Jumbo', 'Brown', 295, 1925))

In [19]:
import sqlite3
connection = sqlite3.connect('ClassFiles/working-with-data/lahman2016.sqlite')

query = '''SELECT nameFirst, nameLast, weight, strftime('%Y', debut / 1000, 'unixepoch')
FROM master
ORDER BY weight DESC
LIMIT 5'''

cursor = connection.cursor()
cursor.execute(query)
results = cursor.fetchall()
cursor.close()
connection.close()

results

[('Walter', 'Young', 320, '1970'),
 ('CC', 'Sabathia', 300, '1970'),
 ('Jumbo', 'Brown', 295, '1970'),
 ('Dmitri', 'Young', 295, '1970'),
 ('Jon', 'Rauch', 290, '1970')]

In [20]:
import sqlite3
connection = sqlite3.connect('ClassFiles/working-with-data/lahman2016.sqlite')

query = '''SELECT yearID, HR
FROM batting
WHERE playerID IN (SELECT playerID
                    FROM master
                    WHERE nameFirst = ? AND nameLast = ?)
ORDER BY yearID'''

cursor = connection.cursor()
player = ( 'Babe', 'Ruth' )
cursor.execute(query, player)
results = cursor.fetchall()
cursor.close()
connection.close()

results

[(1914, 0),
 (1915, 4),
 (1916, 3),
 (1917, 2),
 (1918, 11),
 (1919, 29),
 (1920, 54),
 (1921, 59),
 (1922, 35),
 (1923, 41),
 (1924, 46),
 (1925, 25),
 (1926, 47),
 (1927, 60),
 (1928, 54),
 (1929, 46),
 (1930, 49),
 (1931, 46),
 (1932, 41),
 (1933, 34),
 (1934, 22),
 (1935, 6)]

In [21]:
import sqlite3
connection = sqlite3.connect(':memory:')
cursor = connection.cursor()

create = '''CREATE TABLE beatles (
'fname' text,
'lname' text,
'nickname' text
)'''

cursor.execute(create)

members = [
    ('John', 'Lennon', 'The Smart One'),
    ('Paul', 'McCartney', 'The Cute One'),
    ('George', 'Harrison', 'The Funny One'),
    ('Ringo', 'Starr', 'The Quiet One')
]

for member in members:
    cursor.execute("INSERT INTO beatles VALUES" + str(member))

select = 'SELECT * FROM beatles'
cursor.execute(select)

results = cursor.fetchall()
cursor.close()
connection.close()

results

[('John', 'Lennon', 'The Smart One'),
 ('Paul', 'McCartney', 'The Cute One'),
 ('George', 'Harrison', 'The Funny One'),
 ('Ringo', 'Starr', 'The Quiet One')]

In [22]:
import sqlite3
connection = sqlite3.connect(':memory:')
cursor = connection.cursor()

create = '''CREATE TABLE beatles (
'fname' text,
'lname' text,
'nickname' text
)'''
cursor.execute(create)

members = [
    ('John', 'Lennon', 'The Smart One'),
    ('Paul', 'McCartney', 'The Cute One'),
    ('George', 'Harrison', 'The Funny One'),
    ('Ringo', 'Starr', 'The Quiet One')
]

insert = 'INSERT INTO beatles VALUES (?,?,?)'

cursor.executemany(insert, members)

select = 'SELECT * FROM beatles'
cursor.execute(select)

results = cursor.fetchall()
cursor.close()
connection.close()

results

[('John', 'Lennon', 'The Smart One'),
 ('Paul', 'McCartney', 'The Cute One'),
 ('George', 'Harrison', 'The Funny One'),
 ('Ringo', 'Starr', 'The Quiet One')]

In [35]:
import csv

def compare_pops(pops, age_sex_year1, age_sex_year2):
    '''Finds the populations (pop1 and pop2) for the two 
    passed-in age, sex, and year tuples.
    
    Returns a two-item tuple containing:
     - the numeric difference in population (pop2 - pop1)
     - the ratio (pop2 / pop1)

    Keyword arguments:
    pops -- a sequence holding dictionaries
    age_sex_year1 -- a tuple holding age, sex, and year values
    age_sex_year2 -- a tuple holding age, sex, and year values'''
    pop1, pop2 = -1, -1
    for row in pops:
        if (row['AGE'] == str(age_sex_year1[0]) and row['SEX'] == age_sex_year1[1]):
            pop1 = row['POPESTIMATE' + str(age_sex_year1[2])]
            pop1 = int(pop1.replace(',',''))
        if (row['AGE'] == str(age_sex_year2[0]) and row['SEX'] == age_sex_year2[1]):
            pop2 = row['POPESTIMATE' + str(age_sex_year2[2])]
            pop2 = int(pop2.replace(',',''))
        if pop1 > 0 and pop2 > 0:
            return (pop2 - pop1, pop2/pop1)

with open('ClassFiles/working-with-data/csvs/us-population-2010-2014.csv') as csvfile:
    pops = list(csv.DictReader(csvfile))

pop1 = (30, 'F', 2011)
pop2 = (30, 'M', 2011)

compare_pops(pops, pop1, pop2)

(10353, 1.004910053492218)